@import "./utility.css";
@import "./reset.css";
@import "./styles.css";

#community {
  margin: 5rem 0;
  padding: 2rem;
}

.team__overly {
  position: relative;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}
.team {
  max-width: 200px;
}
.team strong {
  text-align: center;
}
.team img {
  width: 100%;
  border-radius: var(--border-radius-lg);
}
.team__hover {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(22, 163, 254, 0.4);
  border-radius: 6px;
  transition: all 0.4s;
  z-index: 20;
  opacity: 0;
}
.team:hover .team__hover {
  opacity: 1;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* nav bar */
  .navbar {
    display: block;
  }
  .navbar__logo {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .navbar__link {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  /* hero */
  #hero {
    flex-direction: column;
    padding: 2rem;
  }
  .hero__text {
    width: 100%;
    text-align: center;
  }
  .hero__text h1 {
    font-size: 3rem;
  }
  .hero__text__btn {
    justify-content: center;
  }
  .hero__pic {
    width: 100%;
    order: -1;
  }
  /* features */
  .features__cards {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* features */
  .features__cards {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* dashboard */
  .dashboard {
    flex-direction: column;
  }
  #dashboard .heading {
    margin-bottom: 3rem;
  }
  .dashboard__text {
    width: 100%;
  }
  .dashboard__text--lists li {
    left: 4rem;
  }
  .dashboard__pic {
    width: 100%;
    order: -1;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .teams {
    flex-wrap: wrap;
  }
  .teams {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .teams {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
